@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.devide{ 
@apply bg-blue-100 h-10 w-screen text-center  my-10 font-semibold text-2xl;}
.inputStyle{
  @apply  w-[100%] p-1 bg-transparent border-b border-white outline-none font-semibold text-lg ;
}
.quizHelp{
  @apply bg-slate-100/10 p-1 text-[12px] text-white/80 text-center hover:bg-slate-100/20 duration-100;
}
.quizAnswer{
  @apply bg-white/20 hover:bg-white/30 cursor-pointer duration-200 py-1 px-3 rounded-2xl text-lg text-white/80 hover:-translate-y-[1px];
}
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
